#aContainer{
    height: 500px;
    width: 100%;
    border:dotted;
}

.box{
    min-height: 100px;
    height:auto;
    margin:20px;
}

.bluebox{
    background-color:skyblue;
}

.yellowbox{
    background-color:yellow;
}

.greenbox{
    background-color:green;
}
#list .ui-selecting{
    background-color: "green";
}

#list .ui-selected{
    background-color: "green";
}